<header class="test d-flex justify-content-center align-items-stretch">
    <nav class="container row justify-content-between align-items-center test">
        <!--logo-->
        <div class="col-6 col-lg-2 bg-danger">LOGO</div>
        <!--links-->
        <div class="d-none d-lg-block col-lg-8 bg-warning">LINKS</div>
        <!--btn login-->
        <div class="d-none d-lg-block col-lg-2 bg-success">
            <p>LOGIN</p>
        </div>
        <!--hamburger menu-->
        <div class="d-block d-lg-none col-6 d-flex justify-content-end">
            <button>Menu</button>
        </div>
    </nav>
</header>
