<header class="test d-flex justify-content-center align-items-stretch">
    <nav class="container-lg row justify-content-between test" [ngClass]="{'align-items-center': !isMenuOpen}">
        <!--logo-->
        <div class="col-6 col-lg-2 bg-danger align-self-center">
            LOGO
        </div>
        <!--hamburger menu-->
        <div class="col-6 d-flex justify-content-end align-items-center d-block d-lg-none ">
            <button mat-icon-button (click)="toggleMenu()" [ngClass]="{'hamburger-menu': isMenuOpen}">
                <mat-icon>{{ isMenuOpen ? "close" : "menu" }}</mat-icon>
            </button>
        </div>
        <div class="d-lg-block" [ngClass]="{'col-12 d-block off-canvas': isMenuOpen, 'col-lg-10 d-none': !isMenuOpen }">
            <div class="row" [ngClass]="{'justify-content-between': !isMenuOpen}">
                <!--LOGO-->
                <div>LOGO</div>
                <!--links-->
                <div class="col-lg-10 bg-warning" [ngClass]="{'order-2 col-12': isMenuOpen}">LINKS</div>
                <!--btn login-->
                <div class="col-lg-2 bg-success" [ngClass]="{'order-1 col-12': isMenuOpen}">
                    LOGIN
                </div>
            </div>
        </div>
    </nav>
</header>