header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  background-color: black;

  nav {
    width: 100%;
    height: 100%;

    .btn-hamburger {
      z-index: 101;
    }

    .logo-left {
      width: 100%;
      height: 40px;
      object-fit: contain;
    }

    .white-icon {
      color: white;
    }

    .black-icon {
      color: black;
    }
  }

  .off-canvas {
    z-index: 100;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 322px;
    height: 100vh;
    border-top-left-radius: 10px;
    border: 1px solid grey;

    .test-col {
      height: fit-content;
    }

    .img-aside {
      width: 100%;
      height: 80px;
      object-fit: cover;
    }
  }

  .slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes slideInRight {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  .slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes slideOutRight {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

  @keyframes slideOutRight {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

  .navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      cursor: pointer;
      transition: 0.6s;

      &:hover {
        color: rgb(128, 126, 126) !important;
      }
    }
  }

  .login-btn {
    border: 3px solid black;
    transition: 0.6s;

    &:hover {
      background-color: black;
      color: white !important;
      border: 3px solid white;
    }
  }
}
